{% extends "layouts/base-fullscreen.html" %}

{% block title %} Home {% endblock %} 

{% block body_class %} settings-basic {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link id="pagestyle" href="/static/assets/css/customForm.css" rel="stylesheet" />
<style>
  #movieTable th,
  #movieTable td {
    border: none;
  }
</style>
{% endblock stylesheets %}
{% block content %}
{% include 'includes/navigation.html' %}

  <div class="page-header align-items-start min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1497294815431-9365093b7331?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1950&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container my-auto">
      <div class="row body-custom-margin">
        <div class="col-lg-11 col-md-8 col-12 mx-auto">
          <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">
                  <i class="fas fa-play header-icon"></i>&nbsp;
                  Home
                </h4>
              </div>
            </div>
            <div class="card-body">
              <table id="movieTable">
                <tr>  
                  <th>Movie Title</th>
                  <th>Genre</th>
                  <th>Description</th>
                  <th>Metascore</th>
                  <th >Runtime (Minutes)</th>
                  <th></th>
                </tr>
                {% for movie in movieData %} 
                <tr>
                  <td>{{ movie['Title'] }}</td>
                  <td>{{ movie['Genre'] }}</td>
                  <td>{{ movie['Description'] }}</td>
                  <td>{{ movie['Metascore'] }}</td>
                  <td>{{ movie['Runtime (Minutes)'] }}</td>
                  <td><a class="btn btn-success" href="/view_video?v={{ movie['Title'] }}">
                      <i class="fas fa-play"></i> More Info
                  </a></td>
                </tr>
                {% endfor %}
              </table>
              <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                  {% for p in range(currentRow - 2, currentRow + 3) if 1 <= p <= total_pages - 1 %}
                      <li class="page-item {% if currentRow == p %} active{% endif %}">
                          <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                      </li>
                    {% endfor %}
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include 'includes/footer-auth.html' %} 
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
</script>
{% endblock javascripts %}

